{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}

    <main class="container">

        <section class="row">
            <div class="col-md-4">
                <img src="{{  asset('uploads/'~recipe.picture) }}" alt="{{ recipe.title}}" class="img-responsive">
                <div class="label"><a href="#" class="like"><i class="fa fa-heart"></i></a> 42</div>
                <div class="label"><i class="fa fa-cutlery"></i> {{ recipe.category.label }}</div>
                <div class="label"><i class="fa fa-user"></i> Etienne H.</div>
            </div>
            <div class="col-md-4">
                <p>
                    {# TODO: afficher la liste des étapes #}                </p>
            </div>
            <div class="col-md-4">
                <h2>Ingrédients</h2>

                {# TODO : afficher la liste des ingrédients#}

                <ul>
                    <li>Poulet (2 blancs de poulet)</li>
                    <li>Ciboulette (2 brins)</li>
                    <li>Soja (20 cl)</li>
                </ul>
            </div>
        </section>



    </main>

{% endblock %}
